.newPharmacy {
    flex: 4;
  }
  
  .addPharmacyForm {
    margin-top: 10px;
    margin-left: 40px;
  }
  
  .addPharmacyItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .addPharmacyItem > label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .addPharmacyItem > input {
    padding: 10px;
  }
  
  .addPharmacyItem > select {
    padding: 10px;
  }
  
  .addPharmacyButton {
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }